*,
*::before,
*::after {
  margin: 0; 
  padding: 0;  
  box-sizing: border-box;
  /* border: 1px solid magenta; */
}

:root {
  --background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  background: #a5a4ce;
}

.wrapper {
  /* padding: 0 0.5em 0 0.5em; */
  /* margin: 0.1rem; */
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

/* Header Styling */

header {
  color: #fff;
  
}

h1 {
  background-color: #3465a4;
  font-family: 'Bitter', serif;
  font-weight: 500;
  padding: 1rem 1rem;
  border: 6px double #fff;
  box-shadow: 0 0 0 3px #3465a4, 0rem .9rem 3px -5px rgba(0,0,0,.5);
}

/* Navbar Styling */

.navbar {
  border-left: 6px double rgba(255, 255, 255, 0);
  border-right: 6px double rgba(255, 255, 255, 0);
  background-color: #c0c0c0;
  padding: 0rem 1rem;
  color: #202020;
  margin: 1.5rem 0 1rem 0;
}

.navbar__navElements ul {
  gap: 1em;
  display: flex;
  flex-direction: row;
}

.link__nav a {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
}

.link__nav a:hover {
  background-color: #0000ff;
  color: #fff;
}

/* Button styling */

button {
  background: none;
  border: none;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  margin: 0 0 -12px -12px;

  border-radius: 50%;
  background: none;
  color: #00a2f5;
}

.icon-button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.icon-button:active {
  background: rgba(0, 0, 0, 0.6);
}

.socialCard__linkButton {
  height: 1em;
  width: 1em;
}

/* Link styling */

.link {
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link--light {
  color: #6f6f6f;
}

.link__nav {
  text-decoration: none;
  list-style-type: none;
}

/* Info card styling */

.info-card {
  padding: .5em;
  border: 6px double #fff;
  background: silver;
  box-shadow: 0rem .9rem 3px -5px rgba(0,0,0,.5);
  margin: 1.5rem 0 1rem 0;
}

.info-card__description {
  padding: 0 .7em .5em .7em;
  text-align: justify;
}

.info-card__container {
  padding: 0 0.5em 0.5em 0.5em;
}

/* Info Card Table styling */

.info-card__table {

}

tr {
  display: flex;
  flex-direction: column;
  gap: .1em;
}

td {
  display: flex;
  align-items: center;
  gap: .5em;
}

.table-row {
  display: table-row;
}

.content-row {
  position: relative;
}

/* Social Cards */

.socials {
  display: flex;
  flex-direction: column;
}

.socials__headline {
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  line-height: 42.19px;

  color: #202020;
}

.socialCard, .contactCard {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
}

.socialCard + .socialCard {
  margin-top: 1rem;
}

.socialCard__logo {
  width: 120px;
  height: 120px;
}

.socialCard__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #202020;
}

.socialCard__description {
  /* background-color: pink;
  font-size: 14px;
  line-height: 20px; */
}

.socialCard__accountName {
  /* background-color: brown;
  font-size: 12px;
  line-height: 14px; */
}

.socialCard__linkButton {
  background: none;
  border: 0;
  padding: 0;
  color: #00a2f5;
}

/* Footer styling */

.footer {
  border-left: 6px double rgba(255, 255, 255, 0);
  border-right: 6px double rgba(255, 255, 255, 0);
  background-color: #c0c0c0;
  padding: 0rem 1rem;
  color: #202020;
  padding: .5em;
  margin: 1.5rem 0 0 0;
}

.navbar__navElements ul {
  gap: 1em;
  display: flex;
  flex-direction: row;
}

.link__nav a {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
}

.link__nav a:hover {
  background-color: #0000ff;
  color: #fff;
}